---
import Layout from '../layouts/Layout.astro';
import LandingHeader from "../components/LandingHeader.astro";
import FirstCard from '../components/FirstCard.astro';
import SecondCard from '../components/SecondCard.astro';
---

<Layout title="Cris - Portfolio">
	<main class="overflow-x-hidden">
		<LandingHeader />
		<section class="snap-y snap-mandatory relative w-full h-screen overflow-auto">
			<div class="snap-center">
				<FirstCard />
			</div>
			<div class="snap-center">
				<SecondCard />
			</div>
		</section>
		
		
		

	</main>
</Layout>
