---

---

<header class="py-5 px-[10vw] flex items-center fixed top-0 w-full justify-between font-medium z-40 text-white">

    <a href=""><h1 class="text-2xl font-bold">Cris <span class="text-sky-500 font-extrabold">&lt;/&gt;</span></h1></a>

    <nav>
        <ul class="flex text-m [&>li>a]:inline-block [&>li>a]:px-4 ">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Sobre Mi</a></li>
            <li><a href="#">Educaci&oacute;n</a></li>
            <li><a href="#">Skills</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</header>