---

---
<!--  Skills -->

<section class="bg-teal-blue-950 h-screen w-screen relative overflow-hidden">
    <section class="bg-white/1 z-10 h-screen w-screen backdrop-blur overflow-hidden absolute">       
    </section>
        <header class="relative h-full w-full text-white font-medium p-5 flex flex-col items-center justify-center">
            <h1 class="z-20 text-2xl md:text-3xl font-bold leading-tight m-5">
                Skills
            </h1>
            <div class="z-20 w-[80vw] bg-gradient-to-r to-teal-blue-600 from-teal-blue-400 h-1 my-5"></div>
            <p class="z-20 text-xl w-[80vw] md:text-xl leading-tight text-left">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit: 
            </p> 
            <div id="circulo" class="absolute h-96 w-96 backdrop-blur-sm rounded-full bg-teal-blue-500/30 z-0 top-[150px] left-10 animate-floatingSlow"></div>
            <div id="circulo" class="absolute h-60 w-60 backdrop-blur-sm rounded-full bg-teal-blue-500/30 z-0 top-2/3 animate-floatingFast"></div>
            <div id="circulo" class="absolute h-80 w-80 backdrop-blur-sm rounded-full bg-teal-blue-500/30 z-0 top-1/4 left-3/4 animate-floating"></div>
            <div class="z-40 w-[80vw] mx-52 h-[60vh] bg-white/10 my-5 backdrop-filter backdrop-blur-lg shadow-lg rounded-2xl">
            </div>
        </header>
</section>
